html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.fonttitle{
    text-align: center;
}

.maindiv {
    width: 100%;
    height: 100%;
    background-color: rgb(86, 130,163);
}

.chatwindow {
    position: relative;
    width: 40%;
    height: 70%;
    margin: auto;
    background-color: rgb(231, 235, 240);
    border: 1px solid black;
}

.chat {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

}

.mymessages{
    text-align: right;
    padding: 2%;
    margin: 3%;
    background: white;
}

.typezone   {
    display: flex;
    margin: auto;
    width: 40%;
    height: 10%;
    border: 1px solid black
}

.mess_area{
    width: 90%;
}

.but_send{
    width: 10%;
}
